$background-buttom: hsl(322, 100%, 66%);
$background-heading: hsl(193, 100%, 96%);
$main-front-color: hsl(192, 100%, 9%);
$small-front-color: hsl(208, 11%, 55%);
$facebook-color: #3b5998;
$twitter-color: #55acee;
$instagram-color: #e95950;
$shadow-box-color: rgb(223, 223, 223);
