.last-content {
  max-width: 900px;
  width: 100%;
  height: auto;
  padding: 4rem;
  left: 50%;
  top: -40%;
  transform: translate(-50%);
  border-radius: 1rem;
  box-shadow: 3px 0 5px $shadow-box-color;
  background-color: #fff;
  position: absolute;

  z-index: 9999;
}

@media (max-width: 1023px) {
  .last-content {
    max-width: 700px;
  }
}

@media (max-width: 767px) {
  .last-content {
    max-width: 500px;
    padding: 4rem 2rem;
    top: -25%;
    a {
      padding: 1.5rem 4rem;
    }
    h1 {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }
}
